[Unit]
Description=Certbot: Generate SSL/TLS certificates for Redbean server
Documentation=man:certbot(1) https://certbot.eff.org/docs
Before=redbean.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env certbot certonly --standalone \
    --non-interactive --agree-tos --register-unsafely-without-email \
    --key-type ecdsa --cert-name digraph-ecdsa \
    -d digraph.me -d raw.digraph.me

[Install]
WantedBy=multi-user.target
